@import '../../../styles.scss';

.launch-bar {
    background-color: $secondary-color;
    border-radius: 14px;

    display: flex;
    flex-direction: row;
    min-height: 5rem;
    width: max-content;
    align-items: center;
    margin: auto;
    padding: 0.1rem 0.2rem;
    box-shadow: 0 0 15px 1px #0005;
    transition: 0.2s;
    // transform: translateY(1rem);
}

.launch-bar:hover {
    transform: scale(1.1);

    .item-title {
        transform: scale(1.2);
    }
}

.launcher-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
}

.item-container {
    width: 4.25rem;
    height: 4.25rem;
    // outline: 2px solid blue;
    border-radius: 14px;
    margin: 0.4rem;
    padding: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition-duration: 0.1s;
}

.item-container:hover {
    transform: scale(1.1);
    // background-color: $secondary-darker-color;
    background-color: #0003;

    > .item-title {
        transform: scale(1.5);
    }
}

.item-container.active {
    background-color: $secondary-lighter-color;

    .item-title {
        transform: scale(1.2);
    }
}

.item-icon {
    width: 2.7rem;
    height: 2.7rem;
    // outline: 2px solid red;
    border-radius: 8px;
    background-color: $primary-background-color;
}

.item-title {
    font-size: 0.6rem;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

    transition-duration: 0.1s;
    transform: scale(0);
}

.item-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.dot {
    width: 0.4rem;
    height: 0.4rem;
    background-color: #fff6;
    border-radius: 100%;
    margin: 0.07rem;
    transition-duration: 0.1s;
}

.dot.active {
    background-color: $primary-color ;
    transform: scale(1.05);
    margin: 0.05rem 0.07rem;
}

// dibider
.divider {
    height: 4rem;
    width: 2px;
    border-radius: 100%;
    background-color: $primary-background-color;
}

@media (max-width: $mobile-breakpoint) {
    .item-title {
        transform: none;
        font-size: 0.8rem;
    }

    .launch-bar:hover {
        transform: none;

        .item-title {
            transform: none;
        }
    }
}