@import '../../styles.scss';

:host {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem 1.25rem;

    background-color: #fffc;
    border-radius: 14px;
    box-shadow: 1px 1px 50px 5px #0006;
}

.image-container {
    height: 1px;
    margin-bottom: 2.5rem;
}

.image {
    background-color: white;
    border: 1px solid #0008;
    border-radius: 100%;

    height: 5rem;
    width: 5rem;
    transform: translateY(-50%);
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    // border-radius: 24px;
    font-size: 1.25rem;
    font-weight: 500;
    outline: 1px solid transparent;
    outline-offset: -1px;
    box-shadow: none;
    
    padding: 0.3rem 0.6rem;
    margin-bottom: 1.25rem;

    transition-duration: .4s;
}

.submit {
    background-color: $primary-color;
    border: none;
    border-radius: 14px;
    box-shadow: 1px 1px 20px 4px #fff1;
    color: white;
    font-size: 1.25rem;
    padding: 0.3rem;
}

.logo-container {
    height: 1px;
    margin-bottom: 2rem;
}

.logo {
    background-color: #d5f5e3;
    border: 1px solid #0b321b;
    border-radius: 14px;
    color: #0b321b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.75rem;

    display: block;
    padding: 0.55rem;
    
    transform: translateY(-1.75rem);
    transition: 0.3s;
}

.logo:hover {
    box-shadow: 1px 1px 20px 4px #0b321b88;
    border-color: transparent;
}

.logo span {
    color: $primary-color;
}

.credit {
    position: absolute;
    bottom: 0.75rem;
    color: #fffc;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}