<ng-container>
    <div class="tab-outer">
        <div class="tab-container dashboard-tab">
            <div class="icon"></div>
            <!-- <div class="title">Dashboard</div> -->
        </div>
    </div>
    <div class="tab-outer active">
        <div class="tab-container active">
            <div class="icon"></div>
            <span class="title">Component Title</span>
            <div class="close"><span>x</span></div>
        </div>
    </div>
    <div class="tab-outer">
        <div class="tab-container">
            <div class="icon"></div>
            <span class="title">Component Title</span>
            <div class="close"><span>x</span></div>
        </div>
    </div>
    <div class="tab-outer">
        <div class="tab-container">
            <div class="icon"></div>
            <span class="title">Component Title</span>
            <div class="close"><span>x</span></div>
        </div>
    </div>
    <div class="tab-outer">
        <div class="tab-container">
            <div class="icon"></div>
            <span class="title">Component Title</span>
            <div class="close"><span>x</span></div>
        </div>
    </div>
</ng-container>