$primary-color: #2ecc71;
$primary-darker-color: #27ae60;
$primary-lighter-color: #58d68d;
$primary-lighter-color: #82e0aa;
$primary-background-color: #f1f1f1;

$mobile-breakpoint: 600px;

/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    flex-direction: column;
}

body, app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-root > :nth-child(2) {
    flex-grow: 1;
}